

input,textarea {
	border: 1px solid #d1d9e6;
	border-bottom: none;
	border-right: none;
	padding:5px 4px 4px 2px;
	background: #ffe;
	margin: 0;
	border-radius: 3px;
	box-shadow: inset 0 0 1px rgba(0,0,0,0.1);
	box-sizing: border-box;
}
textarea{line-height: 1.4;overflow-x: hidden;overflow-y: auto;}
input:focus,
textarea:focus { background: #ffd }
input._edited,textarea._edited{background: #ffa;}
input[type="checkbox"] { border: none;}

._color-style { background: #f4f3ff; border-top: 2px solid #b2e1ff; border-bottom: 1px solid #f3faff; color: #4A66A0; }
._color-style:focus { background: #f4f3ff }
._color-js { color: #ccc; background: #333; }
._color-js:focus { background: #333 }
._color-html{ background:rgba(238,238,238,1);color: #888; font-weight: bold; }
._color-html:focus { background: rgba(230,230,230,1) }

input._color-style::-webkit-input-placeholder { color: #9db0cd;font-size:12px;}
input._color-style:-ms-input-placeholder { color: #9db0cd;font-size:12px;}
textarea._color-style::-webkit-input-placeholder { color: #9db0cd }
textarea._color-style:-ms-input-placeholder { color: #9db0cd }

input:-ms-input-placeholder { color: #999!important; }
textarea:-ms-input-placeholder { color: #999!important; }