
基本	#4A66A0 	rgba(54,105,161,0.15)
明るく	#6a93e8
	#e7ebf2
	#dbe1eb
	#c2cfe0
*/

#0ff

うすいいろ	#e7ebf2
ヘッダうすいいろ	##56accc



	color:#4A66A0;
	border-radius:5px;
	box-shadow: 0 0 10px rgba(74,102,160,0.4);
	
